<%# ------------검색결과가 뜨는 페이지------------------ %>

<p id="notice"><%= notice %></p>
<h1>Restaurants</h1>
<p>각각 음식점 이름 누르면 옆에 메뉴 뜸.</p>

<div class="d-flex justify-content-around">
  <div class="shops" >
    <% @restaurants.each do |restaurant| %>
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <%# ajax로 전송할 레스토랑 이름%>
          <h3 class="seeMenu"><%= restaurant.restaurant_name %></h3>
          <%# display:none 하고 옆으로 메뉴 띄울 것임%>
          <div class="hideMenu">
            <% @menus.where(:restaurant_name => restaurant.restaurant_name).each do |menu|%>
              <%=menu.menu_name%><br>
            <% end%>
          </div>
          <p class="card-text">음식점 설명(ex.위치).여기에 하트 들어갈 자리. (좋아요 누르는 것)</p>
        </div>
      </div>
    <% end %>
  </div>

  <%# 해당 메뉴가 뜨는 자리. %>
  <div id="menuBox">
    해당 메뉴가 뜰 자리.
  </div>
</div>

<%#= link_to 'New Menu', new_menu_path%>

<script>
   $(".card-body").click(function() {
      
      var res_nameIn = $(this).children(".seeMenu").html();
      var menus = $(this).children(".seeMenu").next('.hideMenu').html();

      $.ajax({
        async : true,
        data : {res_name : res_nameIn, res_menu : menus},
        type : "GET",
        url : "getMenu",
        success :  function(data){
            console.log(data);
            //split 필요.
            $("#menuBox").html(data["menus"]);
        }
      })
    });

</script>