<br>
<h1>About</h1>
<br>



<br> <br> <br> <br> <br>
<figure class="figure">
  <%= image_tag "background.png", style:'height:300px; width:400px;'%>
</figure>
<div align="right">
    <h5 style="letter-spacing:2px">헬푸는 사람을 생각합니다</h5> <br>
    <p style="letter-spacing:1px">누구나 원하는 음식을 안전하고 건강하게 먹을 수 있는</p>
    <p style="letter-spacing:1px">세상을 꿈꾸며 출발하였습니다.</p>
</div>

<br> <br> <br> <br> <br>
<figure class="figure">
  <%= image_tag "background.png", style:'height:300px; width:400px;'%>
</figure>
<div align="left">   
    <h5 style="letter-spacing:2px">헬푸는 함께하는 공동체를 추구합니다</h5> <br>
    <p style="letter-spacing:1px">다른 사람들과 어울리며 즐겁게 음식을 먹을 수 있는</p> 
    <p style="letter-spacing:1px">생활을 만들고자 합니다.</p>
</div>

<br> <br> <br> <br> <br>
<figure class="figure">
  <%= image_tag "background.png", style:'height:300px; width:400px;'%>
</figure>
<div align="right">
    <h5 style="letter-spacing:2px">소중한 사람들에게 권할 수 있도록</h5> <br>
    <p style="letter-spacing:1px">우리 삶과 가장 맞닿아 있는 음식,</p>
    <p style="letter-spacing:1px">내 가족과 친구가 믿고 사용할 수 있는 서비스를 만듭니다.</p>
</div>

<br> <br> <br> <br>



<footer class="mastfoot mt-auto" margin-top="auto" align="left">
    <div class="inner">
        <p>Cover template for <a href="/#">걱정없食</a> , by <a href="/#">헬푸</a>. (2018, All rights Reserved.)</p>
    </div>
</footer>