
=======
<h1>걱정없식</h1>
<h2>검색하기</h2>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
스크롤<br>
v
스크롤<br>
>>>>>>> a167a49f48c8fddc3498a51c761effcb95f34bd7

<!-- 배경화면 -->
<div style="align:center; ">
  <%= image_tag "background.png" %>
</div>


<!-- 메인화면 : 전체 가운데 정렬 -->
<body>

<main role="main" class="inner cover" text-align="center" padding="0 1.5rem">
    <h5 class="cover-heading" align="center">
        식품 알레르기 보유자를 위한 정보 제공
    </h5>
    <p class="lead"> <!-- 로고 이미지 --> </p>
    <div text-align="center" style="width:30%">
    <p class="lead d-flex justify-content-between" align="center">
        <%# <a href="#" class="btn btn-lg btn-secondary-light">
        식당으로 검색하기</a> %>
        <button type="button" class="btn btn-light">
            <%= link_to '식당으로 검색', restaurants_search_path%>
        </button>

        <%# <a href="#" class="btn btn-lg btn-secondary-light">
        알레르기로 검색하기</a> %>
        <button type="button" class="btn btn-light">
            <%= link_to '알레르기 검색', menus_search_path %><br>
        </button>
    </div>
    </p>


</main>
</body>

<!-- footer -->
<footer class="mastfoot mt-auto" margin-top="auto" align="left">
    <div class="inner">
        <p>Cover template for <a href="/#">걱정없食</a> , by <a href="/#">헬푸</a>. (2018, All rights Reserved.)</p>
    </div>
</footer>