<h1>Editing Allergy</h1>

<%= render 'form', allergy: @allergy %>

<%= link_to 'Show', restaurant_allergy_path(@allergy.restaurant_id, @allergy.id) %> |
<%= link_to 'Back', restaurant_allergies_path(@allergy.restaurant_id) %>
