<%# ------------검색결과가 뜨는 페이지------------------ %>

<p id="notice"><%= notice %></p>
<h1>Restaurants</h1>
<p>각각 음식점 이름 누르면 옆에 메뉴 뜸.</p>
<div class="d-flex justify-content-around">
  <div class="shops">
    <table>
      <tbody>
        <% @restaurants.each do |restaurant| %>
          <br>
          <h3 class="seeMenu"><%= restaurant.restaurant_name %></h3> 
          <div class="hi">
            <% @allergies.where(:restaurant_id => restaurant.id).each do |allergy|%>
              <%=allergy.menu_name%><br>
            <% end%>
          </div>
        <% end %>
      </tbody>
    </table>
  </div>

  <div id="menuBox">
    해당 메뉴가 뜰 자리.
  </div>
</div>

<%#= link_to 'New Allergy', new_allergy_path %>

<script>
   $(".seeMenu").click(function() {
      
      var res_nameIn = $(this).html();
      var menus = $(this).next('.hi').html();

      $.ajax({
        async : true,
        data : {res_name : res_nameIn, res_menu : menus},
        type : "GET",
        url : "getMenu",
        success :  function(data){
            console.log(data);
            //split 필요.
            $("#menuBox").html(data["allergies"]);

        }

      })
    });

</script>