<%= form_for(zizuminfo) do |f| %>
  <% if zizuminfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zizuminfo.errors.count, "error") %> prohibited this zizuminfo from being saved:</h2>

      <ul>
      <% zizuminfo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
