@import 'bootstrap';

//-- font 정리
//나눔고딕 
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
//Kopub돋움
@font-face { font-family: 'KoPubDotumMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
//제주명조
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css); .jejumyeongjo * { font-family: 'Jeju Myeongjo', serif; }
//이롭게바탕
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css); .notosanskr * { font-family: 'Noto Sans KR', sans-serif; }



//------------nav바 및 전체홈페이지 관련
.wholebackground {
    background-color: #F2F1F0;
}

.navbarstyle {
    background-color: white;
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    width: 100%;
    height:50px;
    padding: 10px;
    opacity: 0.5;
    font-family: 'Jeju Myeongjo', serif;
    color: #454338;
}

.navbarcontent{
    display: flex;
    justify-content: space-around;
    width: 67%;
}


//------
#menuBox{
    width: 300px;
    height: 500px;
    overflow-y: scroll;
    border-style: solid;
    border-color: rgb(0, 49, 0);
}


.shops{
    width: 500px;
}

.hi{
    display: none;
}