@import 'bootstrap';
@import 'profiles.scss';
@import 'header.scss';
@import 'main.scss';
@import 'login.scss';

//-- font 정리
//나눔고딕 
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
//Kopub돋움
@font-face { font-family: 'KoPubDotumMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
//제주명조
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css); .jejumyeongjo * { font-family: 'Jeju Myeongjo', serif; }
//이롭게바탕
@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');


.jeju {
    font-family: 'Jeju Myeongjo', serif;
    color:#454338;
}

.irop {
    font-family: 'Iropke Batang', serif; 
    color:#454338;
}

//-----
.unlike{
    color: blue;
}

.getinfo{
    display: none;
}
