.logindiv1 {
    width:40%;
    background-color:black;
}
.loginimage{
    width:100%;
}

.logincontent{
    display:flex;
    margin-bottom:3%;
}

.loginform {
    width: 60%;
    margin-top: 70px;
    margin-left: 70px;
}

.logininput {
    width:405px;
    margin-bottom: 120px;
}

.loginbottom {
   position: absolute;
}

.logins {
    display:flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.logintext {
    font-weight: bold; 
    margin-right: 14em;
}

.loginbutton {
    position: absolute;
    background-color: white;
    width: 5em;
    height: 5rem;
    font-weight: bold;
    font-size: 2em;
    color:#454338;
}

.snslogin {
    display:flex;
    justify-content: center;
    position: absolute;
    text-align: right;
    margin-left: 25em;
}

.logininputform {
    border:none;
    background-color: white;
    border-radius: 3em;
    height:50px;
    width:405px;
    padding: 1em;
    text-decoration: none;
}

.loginoption{
    text-align: right;
    font-weight: bold;
}

.loginfont{
    font-weight: bold;
    font-size: 1.3em;
    color: #454338;
}


.google {
    font-size:2em;
    color: #DE4E43;
    margin: 5px;
}

.facebook {
    font-size: 2em;
    color: #3B5999;
    margin: 5px;
}

.kakao {
    font-size: 2em;
    color: #FEEA00;
    margin: 4px;
}

.loginline {
    border-bottom: 1px solid;
    border-color: white;
    padding: 2px;
}