// Place all the styles related to the menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hi{
    color: rgb(109, 93, 84);
}
#menuBox{
    margin-top: 20px;
    width: 400px;
    height: 700px;
    overflow-y: scroll;
    padding: 20px;
    -webkit-box-shadow: 0px 3px 9px 0px rgba(11, 36, 4, 0.315);
    -moz-box-shadow: 0px 3px 9px 0px rgba(11, 36, 4, 0.315);
    box-shadow: 0px 3px 9px 0px rgba(11, 36, 4, 0.315);
    
}

.shop-card{
    width: 100%;
    background-color: rgba(255, 253, 253, 0.801);
    -webkit-box-shadow: 0px 3px 4px 0px rgba(11, 36, 4, 0.315);
    -moz-box-shadow: 0px 3px 4px 0px rgba(11, 36, 4, 0.315);
    box-shadow: 0px 3px 4px 0px rgba(11, 36, 4, 0.315);
    padding: 20px;
}

.shop-card:hover
{
    background-color: #E2D6CF;
}




.fa-utensil-spoon{
    margin-right: 15px;
}
.shops{
    margin-top: 20px;
    background-color: rgba(255, 253, 253, 0.801);
    width: 600px;
    height: 700px;
    overflow-y: scroll;
    -webkit-box-shadow: 0px 3px 9px 0px rgba(11, 36, 4, 0.315);
    -moz-box-shadow: 0px 3px 9px 0px rgba(11, 36, 4, 0.315);
    box-shadow: 0px 3px 9px 0px rgba(11, 36, 4, 0.315);
}


.sido{
    margin-right: 10px;
    font-weight: 450;
    color: #454338;
}
.num_res{
    font-size: 20px;
}

.fa-utensils{
    margin-left: 10px;
    margin-right: 5px;
}
.title{
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    color: #454338;
}

.title-r{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    color: #454338;
    font-size: 35px;
}



.options{
    border: transparent;
    background-color: white;
    width: 150px;
    height: 45px;
    font-size: 17px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 10px;
    -webkit-box-shadow: 0px 3px 9px 0px rgba(11, 36, 4, 0.315);
    -moz-box-shadow: 0px 3px 9px 0px rgba(11, 36, 4, 0.315);
    box-shadow: 0px 3px 9px 0px rgba(11, 36, 4, 0.315);
}

.typebox{
    position: relative;
    display: inline-block;
    background-color: #E2D6CF;
    height: 28px;
    width: 140px;
    transform:  rotate(-2deg) skew(-20deg);
    z-index: -1;
    margin: 15px;
    font-size: 15px;
    padding-top: 6px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(11, 36, 4, 0.315);
    -moz-box-shadow: 0px 3px 5px 0px rgba(11, 36, 4, 0.315);
    box-shadow: 0px 3px 5px 0px rgba(11, 36, 4, 0.315);
}

.typename{
    transform: rotate(2deg) skew(18.5deg);
    padding-left: 5px;
    text-align: center;
}


.selectcss{
    -webkit-appearance: none; /* 화살표 없애기 for chrome*/
    -moz-appearance: none;    /* 화살표 없애기 for firefox*/
    margin-right: 50px;
}

.selectcss::-ms-expand{
    display: none;
} 


.ziyuk{
    margin-left: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 200px;
    align-items: center;
}

.ziyuk-r{
    margin-left: 8px;
    padding-right: 200px;
    align-items: center;
}


.sigungu{
    width: 180px;
    height: 45px;
}

.enter{
    margin: 0px;
}

.buttons{
    margin: 0px;
}

.fish2{
    margin-left:10px;
}


.enteropt{
    font-weight: 550;
    background:none;
    margin: 2.3px;
    width: 114px;
    height: 27px;
    border-radius: 2px;
    border-style: solid;
    border-color: #E2D6CF;
    text-align: center;
    font-size: 15px;
    transition: background-color 0.4s ease;
}

.enteropt:hover{
    border-color: #e2dccf;
    background-color: #e2dccf;
    transition: background-color border-color 0.3s ease;
}


.sigungu-enter{
   height: 45px;
    margin-left: 10px;
    padding-left: 15px;
}

.allergy-check{
    visibility: hidden;
    margin-top: 7px;
    margin-left: 15px;
}

// input[type='checkbox']{
//     width: 18px;
//     height: 18px;
// }

.a-submit{
    margin-top: 15px;
    height: 40px;
    background-color: transparent;
    border-style: none;
    color: rgb(180, 158, 145);
    font-size: 20px;
    font-weight: 650;
}

.a-submit:hover{
    color: rgb(109, 93, 84);
}
.fa-search{
    transform: scale(1.5);
    margin-left: 10px;
}