// Place all the styles related to the zizuminfos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jeju {
    font-family: 'Jeju Myeongjo', serif;
    color:#454338;
}

.irop {
    font-family:'Noto Sans KR', sans-serif;
    color:#454338;
}


.rest {
    background: url('rest.png')  no-repeat center center fixed;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}
