// Place all the styles related to the zizuminfos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jeju {
    font-family: 'Jeju Myeongjo', serif;
    color:#454338;
}

.irop {
    font-family:'Noto Sans KR', sans-serif;
    color:#454338;
}


.rest {
    background: url('rest.png')  no-repeat center center fixed;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}


.zizum-name{
    background-color: rgba(229,219,211,1);
    border-radius: 6vh;
    font-size: 1.5em;
}

.zizum-image{
    width: 25vw;
    height: 10vh;
}
//////////////allergy table//////////////////////
.allergy-table{
    width: 100%; 
}
.allergy-table thead th{
    background-color: rgba(229,219,211,1);
    color: rgba(110, 104, 94, 1);
    height: 9vh;
    white-space:nowrap;
}
.allergy-table tbody tr:nth-child(odd){
    background-color: rgba(249,249,250,1);
    height: 9vh;
    
}
.allergy-table tbody tr:nth-child(even){
    background-color: rgba(243,242,241,1);
    height: 9vh;
}





//////////////allergy table//////////////////////