<header>
    <div class="navbarstyle">
        <div>걱정없식</div>
        <div class="navbarcontent">
            <div>About</div>
            <div>Restaurant</div>
            <div>Filtering</div>
            <div>
            </div>
        </div>
    </div>
</header>

